.btn {
    background-color: #8b008b;
    color: #11122b;
    font-size: 1.25em;
    padding: 10px 25px;
    border: 1px solid #8b008b;
    border-radius: 3px;
    margin-bottom: 10px;
    outline: none;
    transition: 0.3s;
}

.btn:active {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

.centered-btn-wrapper {
    display: flex;
    justify-content: center;
}